body {
    font-size: 30px;
}

input {
    font-size: 30px;
}

#layout {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#display {
    text-align: center;
    height: 50px;
}

.blocks {
    text-align: center;
}

.block {
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
    margin-bottom: 0.5rem;
}

input[value="o"] {
    color: red;
}

input[value="x"] {
    color: blue;
}
