body {
    font-size:30px;
    text-align:center;
}

input {
    font-size:30px;
}

.block {
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
    margin-bottom:0.5rem;
}

input[value="o"] {
    color: red;
}

input[value="x"] {
    color: blue;
}